---
import AlbumGallery from "@components/AlbumGallery.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export const prerender = false;

const releases = await getCollection("releases");
---

<Layout title="releases" layout="content">
	<div class="w-full flex justify-center">
		<div
			class="w-content items-center pt-4w grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-8 lg:grid-cols-4"
		>
			<AlbumGallery releases={releases} />
			{
				releases.map((album, index) => (
					<div class="flex items-end justify-center">
						<a href={`/releases/${album.data.id}`}>
							<div class="h-fit">
								<Image
									src={album.data.artwork}
									alt={album.data.albumTitle}
									class="object-contain h-95 w-95 rounded-sm"
									transition:name={`${album.data.id}`}
									loading={index <= 5 ? "eager" : "lazy"}
								/>
							</div>
							<div class="flex flex-col items-center uppercase">
								<h2 class="sm:text-2xl">{album.data.artist}</h2>
								<h3 class="sm:text-lg">
									{album.data.albumTitle}
								</h3>
							</div>
						</a>
					</div>
				))
			}
		</div>
	</div>
</Layout>
